body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Verdana', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 75%;
}

section h2 {
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
}

section p {
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

section img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
    font-family: 'Verdana', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-family: 'Verdana', sans-serif;
}
